* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-position: inside;
}

a {
    color: inherit;
    /* text-decoration: none; */
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
}

body {
    background-color: cadetblue;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-image: url(imagenes/covercon_fort_iconpattern.svg);
    background-size: cover;
}

.header,
main,
footer {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.main {
    border: 10px solid blue;
}

.footer {
    border: 10px solid blueviolet;
}

.header__logo {
    width: 200px;
    height: 200px;
}

.header__titulo {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

.header__eslogan {
    font-size: 1rem;
    text-align: center;
}

.seccion1 {
    padding: 1rem;
}

.seccion1__lista {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.seccion1__item {
    background-color: blueviolet;
    border-radius: 1rem;
}

.seccion1__enlace {
    /*background-color: red;*/
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.seccion2 {}

.seccion2__mapa {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.seccion3 {
    padding: 1rem;
}

.seccion3__lista {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.seccion3__item {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    background-color: blueviolet;
}

.seccion3__enlace {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
}

.seccion3__icono {
    font-size: 2rem;
}

.seccion4 {}

.seccion4__foto {
    width: 100%;
    height: 150px;
}